body{
    background-color: white;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* justify content x axis  */
}
 

.nav-link{

    text-decoration: none;
    color: black;
    font-weight: bold;      
    padding: 20px;
    border-radius: 5px;
    
}
.menu button{
   border-radius: 50px;
   border: none;
   padding: 10px;
   cursor: pointer;
   background-color: #EE2F47;
   color: white;
   height: 20px 20px;
   width: 20px 20px;

}
.menu button:hover{
    background-color: white;
    border-radius: 50px;
    border: 1px solid #EE2F47;
    color: #EE2F47;
}
.hero h1{
    margin-top: 300px;
   color: white;
   font-family:  Arial, sans-serif;
   font-weight: bold;
   font-size: 26px;

}
.hero P{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.hero{
    background: url("https://img.freepik.com/premium-photo/grocery-super-shop-filled-with-variety-colorful-products_752325-130316.jpg?size=626&ext=jpg") no-repeat center/cover;
    padding: 100px;
    text-align: center;

    
}
.font{
font-family: cursive;
color: black;
}
.products-grid{
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

@media(max-width: 768px){
    .products-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: repeat(2,1fr);
    
  
  }
  
}
@media(max-width: 500px){
    .products-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: 1fr;
    
  
  }
  
}
.products{
    text-align: center;
    margin-bottom: 20px;
}
.products h2{
    text-align: center;
    color: #EE2F47;
    font-family: sans-serif;
    font-size: 26px;
    padding: 20px;
}

.product-card h3{
    color: black;
    font-size: 24px;
    font-family: sans-serif;
}
.product-card h4{
    color: #7A7A7A;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;

}
.product-card{
    
    background-color: white;
    border: 1px solid #7A7A7A ;
    padding: 30px;
    
    border-radius: 8px;

    box-sizing: border-box;
    
}
.product-card button{

    border-radius: 50px;
   border: none;
   padding: 10px;
   cursor: pointer;
   background-color: #EE2F47;
   color: white;
   height: 20px 20px;
   width: 20px 20px;

}
.product-card button:hover{

    background-color: white;
    border-radius: 50px;
    border: 1px solid #EE2F47;
    color: #EE2F47;

}
.product-card p{
    color: #7A7A7A;
    font-size: 14px;
}


.product-card img{
    max-width: 100%;
    border-radius: 8px;
    
}
.product-card:hover{
    box-shadow: 0px 0px 1px 1px #EE2F47;
    
}
.contents{
    text-align: center;
    margin-bottom: 20px;
    background-color: #EE2F47;

}
.contents h2{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
    padding: 20px;
    font-weight: bold;
}


.contents-grid{
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    
}
.contents-card{
    
    background-color: white;
    border: 1px solid #7A7A7A ;
    padding: 10px;
    
    border-radius: 8px;
    margin: 10px;
    box-sizing: border-box;
    
}
.contents-card h3{
    color: black;
    font-size: 26px;
    font-family: sans-serif;
}
.contents-card h4{
    color: #7A7A7A;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;

}
.Content-header-font{
    font-size: small;
    font-family: sans-serif;
    font-weight: lighter;
}
.contents-card:hover{
    box-shadow: 0px 0px 2px 2px #5f5656;
    
  
    
}    
@media(max-width: 768px){
    .contents-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: repeat(2,1fr);
        
    
  
  }
}
  @media(max-width: 500px){
    .contents-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: 1fr;
    
  
  }
  
}
@media(max-width: 768px){
    .nav-link{
        gap: 20px;
        display: none;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        
       
  
  }
}

@media(min-width: 769px){
.hamburger{
        gap: 20px;
        display: none;
       width: 500px;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        
        
    
  
  }

}
.menu-toggle{
    display: none;
}
.menu-toggle:checked + .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.animated-box {
     
    transition: transform 7s ease; /* Transition effect for transform property */
     display: grid;
     grid-template-columns: repeat(3,1fr); 
}

@media(max-width: 768px){
    .animated-box{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: repeat(3,1fr);
        
    
  
  }
}
@media(max-width: 500px){
    .animated-box{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: 1fr;
    
  
  }

}



.video-container {
    width: 100%; /* Set width to 100% */
    max-width: 1300px; /* Optional: set a max width for larger screens */
    margin: 20px auto; /* Center the video */
}

.video-container iframe {
    width: 100%; /* Make the iframe fill the container */
    height: 100%; /* Maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain aspect ratio (16:9) */
    border: none; /* Remove default border */
}

.contents-below{
    text-align: center;
    margin-bottom: 20px;
    background-color: #EE2F47;
    padding: 10px ;

}
.contents-below h2{
    text-align: start;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
    padding: 20px;
    font-weight: bold;
}
.contents-below button{
border-radius: 30px;
   border: none;
   padding: 10px;
   cursor: pointer;
   background-color:white;
   color:  #EE2F47;
   height: 40px 40px;
   width: 60px 60px;
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   
   
    
}

.footers-grid{
    padding: 50px 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    background-color: #1f1f1f;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footers-card{
    
    padding: 10px 20px;
    border: none;
    margin: 10px;
    box-sizing: border-box;
    
}

.footers-grid p{
    text-align: center;
    
    padding: 10px;

}
.footers-card h3{
    color: white;
    font-size: 26px;
    font-family: sans-serif;
}
.footers-card ul{
    padding: 10px;
    color: white;
}
.footers-card h4{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;

}
.footer p{
   font-size: 16px;
   color: white;
   text-align: center;
   margin-top: 0px;
   background-color: #1f1f1f;
   margin-bottom: 30px;
   
    
}
@media(max-width: 768px){
    .footers-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: repeat(3,1fr);
        
    
  
  }
}
@media(max-width: 500px){
    .footers-grid{
        gap: 20px;
        display: grid;
        /*  grid means dividing a web page into columns and rown building a structure grid-template-columns: repeat(3, 1fr); grid template columns defines column structure of a grid by specifying the number and size of columns here 3 means we are creating 3 equal width columns each taking 1 fraction(portion) available space */
        grid-template-columns: 1fr;
    
  
  }
  
}
